{% extends 'layouts/index.html' %}

{% block content %}
    <style type="text/css">
        .products {
            display: Flex;
            justify-content: space-between;
            width: 80%;
            margin-left: 10%;
            margin-top: 20px;
            flex-wrap: wrap;
            border-radius: 50px;
        }

        .image > img {
            width: 69%;
        }

        .card {
            width: max-content;
            height: max-content;
            padding: 10px;
            border-radius: 20px;
        }

        .card-title {
            margin-top: 10px;
            color: darkmagenta;
        }

        .img img {
            cursor: pointer;
            transition: 1s;
            width: 150px;
            height: 150px;
        }

        .img img:hover {
            transform: scale(1.4);
        }
    </style>

    <form action="/products/" method="get">
        <input type="text" name="search">
        <input type="submit" name="Search">
    </form>
    <div class="products">
        {% for product in products %}
            <div class="card">
                <div class="card-body">
                    <div class="image">
                        <a class="img" href="/products/{{ product.id }}">
                            <img src="/media/{{ product.image }}/" alt="">
                        </a>
                    </div>
                    <h5 class="card-title">{{ product.title }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ product.rate }}</h6>
                    <a href="/products/{{ product.id }}" class="card-link"></a>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="pages">
        {% for page in pages %}
            <a href="/products/?page={{ page }}">
                <button>{{ page }}</button>
            </a>
        {% endfor %}
    </div>
{% endblock %}